.cfg {
    width: 100%;
    min-width: 200px;
}
.cfg__years-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-block: 1rem;
}
.cfg__years {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    padding-inline:var(--sides-sm);
}
.cfg__years::-webkit-scrollbar {
    display: none;
}
.cfg__container {
    padding-block-start: 1rem;
}
.cfg__albums {
    margin-block-end: 2rem;
}

.cfg__album-content {
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.cfg__album-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.cfg__album-content--active {
    opacity: 1;
    visibility: visible;
    height: auto;
    overflow: visible;
}

.cfg__gallery-item {
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}
.cfg__gallery-btn {
    letter-spacing: normal;
    width: 100%;
    max-width: 500px;
    min-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}
.cfg__gallery-item--active {
    opacity: 1;
    visibility: visible;
    height: auto;
    overflow: visible;
}
