.releases {
    background-color: var(--c-primary);
    margin-block-start: calc(var(--sand-effect-height) * -1);
    padding-block-start: var(--sand-effect-height);
    position: relative;
    padding-inline: 0;
    box-shadow: inset 0 -152px 50px -123px rgb(255 255 255 / 25%);
    /* min-height: 1115px; */
    &::before {
        content: '';
        position: absolute;
        top: 0%;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: var(--c-bg);
        box-shadow: 0 0 120px 155px #F0EBD8;
    }
}
.releases__scroll-wrapper {
    display: flex;
    overflow-x: auto;
    padding-block: 20px; 
    margin-block: -20px; 
    scrollbar-width: none;
    padding-inline: var(--sides); 
    &::-webkit-scrollbar {
        display: none;
    }
}
.releases__content {
    display: flex;
    align-items: center;
    gap: 3rem;
     &.releases__after--hidden::after {
        content: none; 
    }
    &:not(:has(.album-card)) {
         gap: 0;
    }
}
.releases__nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-block-start: 2rem;
}
.releases__nav--hidden {
    display: none;
}
.carousel__btn {
    width: 55px; height: 55px;
    cursor: pointer;
    background-color: #414750;
    color: #919191;
    border: 2px solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border, stroke-width  .3s;
    stroke-width: 2;
    /* margin-inline: 8px; */
    &:hover {
        stroke-width: 2.5;
        border: 2px solid #919191;
    }
   &:active {
        transform: scale(.97);
    }
    &:disabled {
        opacity: 0.3;
        pointer-events: none;
    }
}
.carousel__btn--next {
    justify-self: end;
}

@media (max-width: 500px) {
    .releases__content {
        gap: 1rem;
    }
}