.shanties-about {
    max-width: 1300px;
    min-width: 300px;
    margin: 0 auto;
    position: relative;
}
.shanties-about__content {
    color: var(--c-text-muted);
    margin-block-end: 5rem;
    position: relative;
}
.shanties-about__title,
.shanties-about__text::first-letter {
    font-family: var(--font-secondary);
    font-size: var(--fs-xlg);
    font-weight: 400;
    font-style: italic;
}
.shanties-about__title {
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}
.shanties-about__text {
    letter-spacing: 0.1px;
    font-size: var(--fs-md);
    line-height: var(--lh-200);
    &::first-letter {
        float: left;
        margin-top: 7px;
        margin-right: 8px;
    }
}
.shanties-about__icon {
    --icon-position-y: -60px;
    position: absolute;
    top: var(--icon-position-y);
    right: -10;   
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease;
}
.shanties-about__icon.is-visible {
    visibility: visible;
    opacity: 1;
}
.shanties-about__line {
    --line-spacing: 44px;
    --scroll-progress: 0;
    position: absolute;
    top: 0;
    right: 22px;
    width: 2px;
    height: calc(100% - var(--line-spacing));
    max-height: 100%;
    background-color: var(--c-dark-lt);
    margin-block-start:  var(--line-spacing);
    transform-origin: top center;
    transform: scaleY(var(--scroll-progress));
    will-change: transform;
}
@media (max-width: 500px) {
    .shanties-about__icon--second {
        top: calc( var(--icon-position-y) - 10px)
    }
    .shanties-about__icon {
        right: calc(var(--icon-position-y) + 63px);
    }
}