.album-card {
    background: linear-gradient( to bottom, var(--c-text-muted) 0%, color-mix(in srgb, var(--c-primary), white 3%) 100%);
    display: grid;
    gap: 5px;
    min-width: 440px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 12px;
    transition: box-shadow .5s ease, transform 0.5s ease;
    &:hover {
        transform: scale(1.015);
        box-shadow: 0 0 8px var(--c-bg-lt);
        cursor: pointer;
    }
    &:active {
        transform: scale(.97);
    }
}
.album-card__cover {
    min-width: 400px;
    height: 400px;
    border-radius: 12px;
    place-self: center;
}
.album-card__meta {
    color: var(--c-secondary);
    display: flex;
}
.album-card__year::after,
.album-card__tracks::before  {
    content: '';
    display: inline-block;
    transform: translateY(-50%);
    width: 5px; height: 5px;
}
.album-card__year::after {
    clip-path: circle(50%);
    margin-inline: .5em;
    background-color: var(--c-secondary);
}
.album-card__tracks {
    color:  color-mix(in srgb, var(--c-text-muted), white 45%);
    margin: 0;
    &::before {
        background-color: color-mix(in srgb, var(--c-text-muted), white 45%);
        clip-path: polygon(100% 50%, 0 0, 0 100%);
        margin-inline-end: .5em;
    }
}
.album-card__title {
    font-family : var(--font-secondary);
    color: var(--c-text-secondary);
    font-size: 2rem;
    letter-spacing: 5%;
    font-weight: bold;
    margin: 0;
}