.news__card {
    background-color: var(--c-bg-lt);
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border: 1px solid transparent;
    min-height: 152px;
}
.news__card:hover,
.news__card--active {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-color: var(--c-secondary);
    cursor: pointer;
}
.news__card-date {
    display: inline-block;
    margin-block-end: 0.5rem;
    color: var(--c-secondary);
    font-size: var(--fs-sm);
    font-weight: 600;
    letter-spacing: 0.02em;
}
.news__card-title {
    font-size: var(--fs-lg);
    line-height: 1;
}
.news__card-excerpt {
    color: var(--c-text-muted);
    margin-block-start: 0.5rem;
}
.news__card--archive {
    background-color: var(--c-secondary-lt);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.news__card-link {
    text-decoration: none;
    color: inherit;
}
