
.hero__logo {
    min-width: 100%;
    height: auto;
}
.hero__subtext {
    font-family: var(--font-secondary);
    font-style: italic;
    letter-spacing: 0.1em;
    font-size: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 1rem;
    &::before,
    &::after {
        content: '';
        flex: 1;
        height: 1px;
        background-color: var(--c-text-primary);
    }
    &::before { margin-inline-start: 4rem; }
    &::after  { margin-inline-end: 4rem; }
}
.hero__text {
    text-align: center;
    letter-spacing: 0.05em;
    line-height: 1.25;
    color: var(--c-text-muted);
    max-width: 715px;
    font-size: var(--fs-md);
    margin: 0 auto;
}
